In [18]:
import seaborn as sns
import pandas as pd
import numpy as np

In [19]:
from pycaret.utils import version
version()

'3.0.0'

In [20]:
import pycaret
print('Using PyCaret Version', pycaret.__version__)
print('Path to PyCaret: ', pycaret.__file__)

Using PyCaret Version 3.0.0
Path to PyCaret:  /config/.local/lib/python3.8/site-packages/pycaret/__init__.py

In [21]:
from pycaret.datasets import get_data
data = get_data('house')

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [22]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [23]:
data.shape

(1460, 81)

In [24]:
data.size

118260

In [25]:
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [26]:
data.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [27]:
from pycaret.datasets import get_data
data1 = get_data('gold')

,3M Libor_T-1,EM Bond_T-1,US Bond ETF_T-1,Wheat 1_T-1,Wheat 2_T-1,Crude Palm Oil_T-1,Brent 1_T-1,Brent 2_T-1,Light Crude_T-1,White Sugar_T-1,...,MSCI EM_T-22,Shanghai Index_T-22,Nikkei Ind_T-22,MSCI APAC ex J_T-22,EMEquity ETF_T-22,Silver_T-22,Platinum_T-22,Palladium_T-22,Gold_T-22,Gold_T+22
0,0.000000,0.000879,0.001050,0.013158,0.013562,0.003163,-0.007879,-0.004945,-0.003486,-0.024706,...,-0.009862,0.073090,-0.028816,-0.001613,-0.012274,-0.025210,0.024300,0.082695,0.053534,0.004648
1,-0.004587,0.004096,0.002383,0.043599,0.041035,0.040991,0.042356,0.039759,0.029667,0.047906,...,0.006801,0.099088,-0.043704,0.007670,0.018151,0.060624,0.068595,0.151468,0.085822,-0.002105
2,-0.003465,-0.002040,0.000856,0.020444,0.017995,0.003462,0.006222,0.006541,0.007172,0.005262,...,0.014873,0.102887,-0.051438,0.007525,0.028712,0.056289,0.083520,0.134763,0.083915,-0.037438
3,-0.004624,0.000584,-0.002090,-0.015679,-0.012626,0.021992,0.003029,0.004249,0.002498,0.020775,...,0.004931,0.087208,-0.054678,0.005445,0.001445,0.041620,0.061601,0.109940,0.076738,-0.028097
4,-0.009292,-0.000486,0.001047,-0.003540,-0.002558,-0.012658,-0.024912,-0.022026,-0.023551,-0.025000,...,-0.003838,0.076564,-0.076171,-0.009558,-0.003904,0.058352,0.069414,0.094311,0.084487,-0.045466

In [28]:
data1.columns

Index(['3M Libor_T-1', 'EM Bond_T-1', 'US Bond ETF_T-1', 'Wheat 1_T-1',
       'Wheat 2_T-1', 'Crude Palm Oil_T-1', 'Brent 1_T-1', 'Brent 2_T-1',
       'Light Crude_T-1', 'White Sugar_T-1',
       ...
       'MSCI EM_T-22', 'Shanghai Index_T-22', 'Nikkei Ind_T-22',
       'MSCI APAC ex J_T-22', 'EMEquity ETF_T-22', 'Silver_T-22',
       'Platinum_T-22', 'Palladium_T-22', 'Gold_T-22', 'Gold_T+22'],
      dtype='object', length=121)

In [29]:
data1.shape

(2558, 121)

In [30]:
data1.size

309518

In [31]:
data1.describe()

,3M Libor_T-1,EM Bond_T-1,US Bond ETF_T-1,Wheat 1_T-1,Wheat 2_T-1,Crude Palm Oil_T-1,Brent 1_T-1,Brent 2_T-1,Light Crude_T-1,White Sugar_T-1,...,MSCI EM_T-22,Shanghai Index_T-22,Nikkei Ind_T-22,MSCI APAC ex J_T-22,EMEquity ETF_T-22,Silver_T-22,Platinum_T-22,Palladium_T-22,Gold_T-22,Gold_T+22
count,2558.000000,2558.000000,2558.000000,2558.000000,2558.000000,2558.000000,2558.000000,2558.000000,2558.000000,2558.000000,...,2558.000000,2558.000000,2558.000000,2558.000000,2558.000000,2558.000000,2558.000000,2558.000000,2558.000000,2558.000000
mean,0.000832,0.000054,0.000035,0.000105,0.000083,0.000081,0.000063,0.000048,0.000039,-0.000126,...,0.001521,0.001640,0.007724,0.002843,0.001348,0.003429,-0.002040,0.016255,0.004002,0.003222
std,0.007570,0.004277,0.002073,0.018729,0.017929,0.014268,0.018331,0.017958,0.019077,0.016468,...,0.050782,0.067590,0.055285,0.047920,0.053453,0.082057,0.058466,0.081979,0.044998,0.044198
min,-0.075051,-0.044433,-0.012440,-0.086872,-0.090000,-0.112903,-0.084337,-0.083457,-0.100408,-0.117669,...,-0.186586,-0.316587,-0.188626,-0.185257,-0.194926,-0.303009,-0.212727,-0.267772,-0.149107,-0.149107
25%,-0.002105,-0.001950,-0.001127,-0.011117,-0.010545,-0.006871,-0.009334,-0.009379,-0.010202,-0.008780,...,-0.028663,-0.037221,-0.025363,-0.024215,-0.031686,-0.049056,-0.041553,-0.037162,-0.023329,-0.023619
50%,0.000000,0.000092,0.000091,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.003532,0.002802,0.011238,0.006085,0.002076,-0.005047,-0.004983,0.018242,0.001952,0.001441
75%,0.003278,0.002254,0.001346,0.010361,0.009619,0.006567,0.009706,0.009532,0.010429,0.008175,...,0.035178,0.036260,0.044586,0.033261,0.037184,0.052980,0.039107,0.069460,0.032227,0.031532
max,0.145989,0.033682,0.008395,0.093916,0.118492,0.153199,0.089039,0.090140,0.099622,0.104769,...,0.182996,0.275124,0.193466,0.189002,0.194412,0.305908,0.223757,0.288488,0.194723,0.194723

In [32]:
data1.isna().sum()

3M Libor_T-1       0
EM Bond_T-1        0
US Bond ETF_T-1    0
Wheat 1_T-1        0
Wheat 2_T-1        0
                  ..
Silver_T-22        0
Platinum_T-22      0
Palladium_T-22     0
Gold_T-22          0
Gold_T+22          0
Length: 121, dtype: int64

In [39]:
print("No. of columns containing null values")
print(len(data1.columns[data1.isna().any()]))

print("No. of columns not containing null values")
print(len(data1.columns[data1.notna().all()]))

print("Total no. of columns in the data1frame")
print(len(data1.columns))

No. of columns containing null values
0
No. of columns not containing null values
121
Total no. of columns in the data1frame
121

In [43]:
#For getting Columns having at least 1 null value. (column names)
print(f"columns with null values : {list(data1.columns[data1.isnull().any()])}")

#For getting Columns with count, with having at least 1 null value.
print(f"columns with null values count : \n{data1[data1.columns[data1.isnull().any()]].isnull().sum()}")

#For getting percentage of the null count.
print(f"columns with null values percentage : \n{data1[data1.columns[data1.isnull().any()]].isnull().sum() * 100 / data1.shape[0]}")

columns with null values : []
columns with null values count :
Series([], dtype: float64)
columns with null values percentage :
Series([], dtype: float64)